@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 


*{
    margin: 0;
    padding: 0;
    
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --backgroundcolor: #dbe6f1;
    --card_background_color:rgb(255, 255, 255);
}



footer{
    height: 4em;
    background-color: black;
}
body, header{
    font-family: poppins, sans-serif;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column; 
    background-color: var(--backgroundcolor);   
}

.navbar {
    padding: 0.5em .5em 0 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.master_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.master_container h2 ,p, h3{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.section_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width:100%;
    

}



.section_1 > h1{
    margin-top: 1em;
    text-align : center;
    color:white;
    
}

.cta_button:hover {
    background-color:rgb(20, 1, 1) ;
    color: white;
}
.cta_button{
    cursor: pointer;
    color: black;
    background-color: var(--yellow);
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em 2em 1em 2em;
    width:80%;
    max-width: 15em;
    
    border-radius: 0px;
    text-decoration: none;
    /*min-width: 50%;*/
    text-align: center;
    
}

.coach_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--card_background_color);
    border-radius: 25px;
    width: 80%;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 30em;
    
}

.content_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--card_background_color);
    /*border-radius: 25px;
    width: 80%; */
    margin-bottom: 1em;
    margin-top:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    Padding-top:0.5em;
    width:100%;
    
}




.coach_image{
    margin-top: 2em;
    margin-bottom:1em;
    width:120px;
    height:120px;
    background-size:cover;
    background-position:center;
    border-radius:50%;
    
}

.offerings{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color:var(--backgroundcolor) ;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 90%;
    max-width: 20em;
    padding-left: 1em;
    border-radius: 20px;
}




.offerings >section > img{
    float:left;
}

.coach_card_action_buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width :100%;
}

ul{
    list-style: none;
}

.coach_past_companies{
    background-color: white;
}

